body{
    transition-delay: .5s;
}

.navbar{
    margin: 0px 0px;
    background-color: rgba(127,225,212,0.6);
    height: 4rem;
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    align-items:center;
    justify-content:space-between;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    
    backdrop-filter: blur(10px);
    
}

.button{
    
}

.blur{
    background-color: rgb(91, 180, 150);
    height: 2rem;
    width: 100%;
    margin-top: 4.5rem;
    position: fixed;
    top: 0rem;
    
    
}

.homeButton{
    padding-left: 1.5em;
}

.menubar {
    /* padding-right: 1rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
    align-items: center;
    /* margin-right: 20px; */
}

.logo{
    margin-top: .5rem;
    width: 35px;
    height: 35px;
}
body{
    margin: 0px 0px;
}

.home{
    margin-top: 5rem;
}

.home_topic{
    margin: 0px 0px;
}