body{
    transition-delay: .5s;
}

.navbar{
    margin: 0px 0px;
    background-color: rgba(127,225,212,0.6);
    height: 4rem;
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    align-items:center;
    justify-content:space-between;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    
    backdrop-filter: blur(10px);
    
}



.blur{
    background-color: rgb(91, 180, 150);
    height: 2rem;
    width: 100%;
    margin-top: 4.5rem;
    position: fixed;
    top: 0rem;
    
    
}

.homeButton{
    padding-left: 1.5em;
}

.menubar {
    /* padding-right: 1rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
    align-items: center;
    /* margin-right: 20px; */
}

.logo{
    margin-top: .5rem;
    width: 35px;
    height: 35px;
}
/* body{
    margin: 0px 0px;
    font-family: ;
} */

.home{
    margin-top: 5rem;
}

.profile_intro{
    font-size: xxx-large;
    margin: 0px 0px;
    padding-top: 6rem;
    padding-left: 7rem;
}


.profile_body{
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-left:4rem ;
    padding-right:2rem ;
    padding-top: 1rem;
}

.profile_about{
    font-size:x-large;
    margin-right: 30px;
}

.photo{
    height: 500px;
    width: 500px;

}


.gallery{
    padding-top: 4rem;
    padding-left: 2rem;
    margin: 20px 0;
}



.gallery_intro {
    font-size: 24px;
  }
  
  .image_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the top of each column */
    margin: -10px;
  }
  
  .image_grid > div {
    width: calc(33.33% - 20px);
    margin: 10px;
  }
  
  .image_grid img {
    max-width: 100%;
    height: auto;
  }

